h1 {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    padding: 5px;
}
h2 {
    color: rgb(0, 64, 255);
    border-right: 3px;
    border-color:rgb(0, 64, 255);
}
#hr {
    
    border-bottom-style:solid;
    border-right: 100px;
    color: rgb(61, 61, 253);
    
}
h3 {
    color: rgb(0, 64, 255);
}
header {
    display: grid;
    font-size: Arial;
    grid-template-columns: 9fr 3fr;
    height: 300px;
    padding: 0px;
}
footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 4fr 8fr;
    height: 300px;
    padding-right: 30px;
    margin-top: 40px;
}
.card {
    height: 1650px;
    width: 320px;
    background-color: rgb(154, 152, 152);
    margin: 10px;
    padding: 20px;
}
.knowledge {
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px ;
    margin-left: 10px ;
    margin-right: 20px ;
    padding: 5px;
}
.language {
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-right: 25px;
    padding: 5px;
}
.personal {
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 25px;
    padding: 5px;
}
.rating {
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-right: 25px;
    padding: 5px;
}
.panel-right {
    margin-right: 20px;
    margin-left: 20px;
}
li {
    list-style: none;
}
li:before {
     content:"\27A2";
}
#div2 {
    float: right;
}
#div1 {
    float: left;
}

